.simpleAPI-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  align-items: center;
  justify-items: center; /* adjusted */
}

.simpleAPI-wrapper h1 {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 300;
  font-size: 56px;
}